name: Build and Deploy SampleReact

on: push

jobs:
  BuildSourceCode:
    runs-on: runner02
    steps:
      - uses: actions/checkout@v2

      - name: Use node verson v14.4.0 and npm 6.14.5
        run: |
          npm -v
          node -v
          npm install
#          nvm use 14.4.0

      - name: Build 
        run: npm run-script build

      - name: Deploy to Surge
        run: surge --project ./build --domain disgusted-garden.surge.sh


